<%- include("partials/header") %>

<%- include("partials/nav") %> 

<section>
    <div class=" h-25 w-50">
        <ul id="output" class="overflow-auto">
        </ul>
    </div>
    <div>
        <form id="msgForm" class="position-relative">
            <input type="text" name="txt" id="txt" class="w-75 pt-3 pb-3">
            <button type="submit" class="btn btn-primary p-3 h2">Send</button>
        </form>
    </div>
</section>


<%- include("partials/footer") %> 