<%- include("partials/header") %>

<%- include("partials/nav") %> 

<section>
    <ul>

    </ul>
    <form id="msgForm">
        <textarea name="txt" id="txt" cols="20" rows="10"></textarea>
        <button type="submit">Send</button>
    </form>
</section>


<%- include("partials/footer") %> 