<%- include("partials/header") %> 

<h1>Config</h1>

<form action="/user/edit" method="post">
    <label for="">
        <h2>Name</h2>
        <input type="text" name="name" id="">
    </label>
    <label for="">
        <h2>Email</h2>
        <input type="email" name="email" id="">
    </label>
    <label for="">
        <h2>password</h2>
        <input type="password" name="password" id="">
    </label>
</form>

<%- include("partials/footer") %> 