<%- include("partials/header") %> 

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid mt-1 mb-1 ms-5">
        <div class="">
            <h1 class="navbar-brand">Final project - Coder House</h1>
        </div>
    </div>
</nav>

<%- include("partials/messages") %> 

<section class="w-100 d-flex justify-content-center">
    <div>
        <form action="/user/recovery/password/<%= user.id %> " method="post">
            <label for="">
                <h3>New Password</h3>
                <input type="password" name="password">
            </label>
            <label for="">
                <h3>Re-write</h3>
                <input type="password" name="password2">
            </label>
            <div>
                <button type="submit">Save password</button>
            </div>
        </form>
    </div>
</section>

<%- include("partials/footer") %> 