<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()

    // elements
    const msgForm = document.getElementById("msgForm")
    const output = document.getElementById("output")

    // get Cookie
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    
    function sendMsg(userID, msg) {
        socket.emit("message", {
            userID,
            txt: msg
        })
    }

    // Send message
    msgForm.addEventListener("submit", (e) => {
        e.preventDefault()
        
        sendMsg(getCookie("user"), msgForm["txt"].value)
        msgForm["txt"].value = ""
    })

    // Get message
    socket.on('chat:message', (data) => {
        data.forEach((item) => {
            const li = document.createElement("li")
            li.innerHTML = `
            <p>${item.email}</p>
            <p>${item.txt}</p>
            <p>${item.time}</p>
            `
            output.appendChild(li)
        })
    })
</script>

</body>

</html>