<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()

    // elements
    const msgForm = document.getElementById("msgForm")
    const output = document.getElementById("output")

    // time
    const date = new Date()

    // get Cookie
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    
    function sendMsg(userID, msg) {
        socket.emit("client:message", {
            userID,
            txt: msg
        })
    }

    // Send message
    msgForm.addEventListener("submit", (e) => {
        e.preventDefault()
        
        sendMsg(getCookie("user"), msgForm["txt"].value)
        socket.on('server:newmessage', item => {
            if(item.email === "federicofigueroa011@gmail.com") {
                output.innerHTML += `
                <div class="m-3 border border-primary rounded w-50 bg-info text-light">
                <div class="p-3">
                    <p>Admin</p>
                    <p>${item.txt}</p>
                    <p>${item.time}</p>
                </div>
                </div>
                `
            } else {
                output.innerHTML += `
                <div class="m-3 border border-success rounded w-50 bg-success text-light">
                <div class="p-3">
                    <p>${item.email}</p>
                    <p>${item.txt}</p>
                    <p>${item.time}</p>
                </div>
                </div>
                `
            }
            
        })
        msgForm["txt"].value = ""
    })

    // Get message
    socket.on('server:messages', (data) => {
        data.forEach((item) => {
            if(item.email === "federicofigueroa011@gmail.com") {
                output.innerHTML += `
                <div class="m-3 border border-primary rounded w-50 bg-info text-light">
                <div class="p-3">
                    <p>Admin</p>
                    <p>${item.txt}</p>
                    <p>${item.time}</p>
                </div>
                </div>
                `
            } else {
                output.innerHTML += `
                <div class="m-3 border border-success rounded w-50 bg-success text-light">
                <div class="p-3">
                    <p>${item.email}</p>
                    <p>${item.txt}</p>
                    <p>${item.time}</p>
                </div>
                </div>
                `
            }
        })
    })
</script>

</body>

</html>