<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a href="/main" class="navbar-brand">Final project - Coder House</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/config" class="nav-link">User</a>
            </li>
            <li>
                <a href="#" class="nav-link">Cart</a>
            </li>
            <li>
                <a href="#" class="nav-link"></a>
            </li>
        </ul>
    </div>
</nav>